.servicesContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.servicesContainer h1 {
  padding: 2rem 0;
}

.serviceGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
}
