.productsContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.productsContainer h1 {
  padding: 2rem 0;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}